body {
	text-align: center;
	background-color: white;
	background-image:none;
	font-family: "Nunito",sans-serif;
	}

	/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-top: 2rem;
	margin-bottom: 4rem;
}
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}
  
  /* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
}
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}
  
  
  /* Featurettes
  ------------------------- */
  
.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
  /* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
@media (min-width: 40em) {
	/* Bump up size of carousel content */
.carousel-caption p {
	  margin-bottom: 1.25rem;
	  font-size: 1.25rem;
	  line-height: 1.4;
}
  
.featurette-heading {
	  font-size: 50px;
	}
}
  
@media (min-width: 62em) {
	.featurette-heading {
	  margin-top: 7rem;
	}
}

.animacion{
	color: black;
	text-decoration: none;
}

ul li:hover{
	transform: inherit;
	transition: height 2s;
    height: 50px;
	color: #fff;
	text-decoration: none;
  }

p strong {
	color: black;
	font-weight: bold;
	font-style: italic;
}
#resaltar{
	font-family:"Indie Flower", cursive;
	word-break: inherit;
	font-weight: 100;
}
.titulos-secundarios {
	font-family:"Indie Flower", cursive;
}
.new-arrivals {
	font-family:"Indie Flower", cursive;
	font-style: italic;
	font-weight: bold;
	background-color:rgba(250, 203, 210, 0.459);
}

#container-products{
	display: inline-block;
	width: 100%;
	height: 250px;
	grid-template-areas: "head head"
						 "nav  main"
						 "main main";
	grid-template-rows: 50px 1fr 30px;
	grid-template-columns: 150px 1fr;
}

#container-products .products1{
	grid-area: head;
  	background-color: #f0c6c6;
  	grid-column-start: 1;
	grid-column-end:2;
}

#container-products .products2{
	grid-area: nav;
  	background-color: #f0c6c6;
  	grid-column-start: 2;
	grid-column-end:3;
}

#container-products .products3{
	grid-area: main;
  	background-color: #f0c6c6;
  	grid-column-start: 3;
	grid-column-end:4;
}

.refh2{
	font-family: "Nunito",sans-serif;
	font-style: italic;
}

.mi-estilo{
	text-align: center;
}

.footer{
   background-color:rgba(250, 203, 210, 0.459);
}