body {
	text-align: center;
	background-color: white;
	background-image:none;
	font-family: "Nunito",sans-serif;
	}
/* Carousel base class */
.carousel {
	margin-top: 2rem;
	margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
  }
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
  }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
	  margin-bottom: 1.25rem;
	  font-size: 1.25rem;
	  line-height: 1.4;
	}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
  /* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}
  
.featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.animacion{
	color: black;
	text-decoration: none;
}

ul li:hover{
	transform: inherit;
	transition: height 2s;
    height: 50px;
	color: #fff;
	text-decoration: none;
  }

p strong {
	color: black;
	font-weight: bold;
	font-style: italic;
}

.tittle-import {
	font-family:"Indie Flower", cursive;
	font-size: 150px;
}

.tittle-second {
	font-family:"Indie Flower", cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
}

#resaltar{
	font-family:"Indie Flower", cursive;
	font-size: 60px;
	margin-top: 4rem;
}

.refh2{
	font-family:"Indie Flower", cursive;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
}

#icon-footer{
	margin-left: 2rem;
}

/*--PRODUCTOS--*/
.content-top h1{
	color:#010101;
	font-size: 3em;
	font-family:"Indie Flower", cursive;
  text-align: center;
}
.col-md1 img{
	margin: 0 auto;
}
.col-md1 h3 {
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: center;
    margin: 1em 0 0.7em;
    color: #000;
}
.col-md1 h3 a {
    color:rgb(8, 4, 5);
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    text-align: center;
}
.price h5 {
    color: #000;
    font-size: 1.2em;
    margin: 14px 0;
}
.price {
    text-align: center;
}
.price a {
    color: #FFF;
    font-size: 0.8em;
    display: block;
    background-color: #ffffff;
    padding: 0.3em 0.6em;
    border-radius: 3px;
    text-decoration: none;
    width: 43%;
    margin: 0 auto;
}
.content-top {
  padding: 4em 0;
}
.content-top1 {
  padding: 1em 0;
}
.col-md1 {
    padding: 1em;
    background-color: #eee;
}

.col-md1:hover .price a {
  background-color:rgb(8, 4, 5);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.content-top h4 {
    color: #000;
    font-size: 2em;
    margin: 0;
}
.content-top p {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.8em;
    margin: 2em 0;
}
.col-md3 {
    text-align: center;
}
.col-md3 {
    background: url(../images/11.jpg) no-repeat;
    min-height: 399px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.footer{
   background-color:rgba(250, 203, 210, 0.459);
}